*{
    border: 1px solid blue;
    margin: 9px;
}
body{
    background-color: white;
}
mark{

   background-color: rgba(254, 255, 63, 0.6);

}
img{

	box-shadow: 0 0 50px gray;
}
figure{
	position: relative;
}
figcaption{
	position: absolute;
	top: 8px;
    left: 16px;
    font-size: 18px;
}